@media (max-width : 600px) {
  header nav ul li input {
    padding: 8px 8px;
    width: 200px;
    border-radius: 12px;
    border: none;
  }

  #notes-area {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
  .font-control{
      padding:  6px 8px;
      border-radius: 18px;
    font-size: 12px;
    margin-right: 12px;
  }

  .font-control input{
      width: 40vw;
  }
}